{% extends "base.html" %}
{% block title %}Temperature Converter{% endblock %}

{% block content %}
<div class="container-fluid my-2 mx-1">
    <h2>Temperature Converter</h2>
</div>

<!-- Como fazer nested columns and rows -->
<div class="container-fluid my-4 mx-2">
    <div class="row">
      <div class="col-sm-2">
        <p>Fahrenheit and Celsius</p>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-md-auto col-sm-4">
            <form action="#" method="post">
              <p><input id="temp_input" type="text" name="F_Input" placeholder="0" style="width: 100px;"/>   ºF</p>
            </form>
          </div>
          <div class="col-md-auto col-sm-4">
            Celsius output:
            <p><input id="temp_output" type="text" name="" placeholder="0" style="width: 100px;"/>   ºC</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("temp_input")
    .addEventListener("keyup", function (evt) {
      // console.log for debbuging purposes
      console.log(this.value);

      // conversão da temperatura
      // let converted_val = (5/9) * (this.value - 32);

      // return/display converted value
      document.getElementById("temp_output").value = Math.round((5/9) * (this.value - 32));
    }, false);
  </script>

{% endblock %}

