{% extends "base.html" %}
{% block title %}Temperature Converter{% endblock %}

{% block content %}
<div class="container-fluid my-2 mx-1">
    <h2>Temperature Converter</h2>
</div>

<!-- Como fazer nested columns and rows -->
<div class="container-fluid my-4 mx-2">
    <div class="row">
      <div class="col-sm-2">
        <p>Fahrenheit and Celsius</p>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-8 col-sm-6">
            <form action="#" method="post">
              <p><input type="text" name="F_Input" placeholder="0"/>   ºFahrenheit</p>
            </form>
          </div>
          <div class="col-4 col-sm-6">
            Celsius output
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

